/* TOPBAR */

body{
    background-color:#11a6d4;
}
#login-box{
    background-color:rgba(0,0,0,0.3);
    width:380px;
    height:320px;
    margin:140px auto 0px;
    border-radius:5px;

}
#login-box-interna{
    width:360px;
    height:300px;
    background-color:#fdfdfd;
    position:absolute;
    margin:10px;
    border-radius:5px;
    box-shadow:0px 0px 5px black;
    overflow:hidden;
}
#login-box-label{
    background-image: linear-gradient(-20deg, #eee, white);
    height:45px;
    text-align:center;
    font: bold 14px/45px sans-serif;
    border-radius: 5px 0px 5px 0px;
    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 0px 3px #aaa;
    color: #555555;
    text-shadow: 1px 0px 1px white;
}
.inpug-div{
    margin:20px;
    padding:5px;
    background-color:#f2f5f7;
    border-radius:3px;
}
.inpug-div input{
    width:300px;
    height:35px;
    padding-left:5px;
    font: normal 13px sans-serif;
    color:#aeaeae;
    border-radius:1px solid #bfc4c6;
    outline:none;
}
.inpug-div:hover{
    background-color:#e0f1fc;
}
.inpug-div:hover input{
    border-color:#7dc6dd;
}
#input-senha{
    margin-top:-10px;
}
#botoes{
    width:310px;
    margin-left:25px;
}
#botao{
    float:right;
    background-image:linear-gradient(-20deg, rgba(70,185,250,0.4), white);
    padding:5px 15px;
    font: bold 12px sans-serif;
    border-radius:20px;
    text-shadow: 0px 1px 0px white;
    border:1px solid #9cb9c3;
    color:#527988;
    box-shadow: 0xp 0px 10px #c9c9c9;
}
#botao:hover{
    background-image:linear-gradient(-180deg, rgba(70,185,250,0.4), white);
    cursor:pointer;
}
#lembrar-senha{
    font:normal 13px sans-serif;
}
#botaoNone{
    background-color: red;
}
