<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bg.apptccmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controladores.Tela_Principal">

        </activity>
        <activity android:name=".controladores.Tela_Splash">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".Tela_Menu" />
        <activity android:name=".controladores.Tela_Deletar_Convidado" />
        <activity android:name=".controladores.Tela_Deletar_Comida" />
        <activity android:name=".controladores.Tela_Deletar_Bebida" />
        <activity android:name=".controladores.Tela_Cadastrar_Convidado" />
        <activity android:name=".controladores.Tela_Cadastrar_Usuario" />
        <activity android:name=".controladores.Tela_Cadastrar_Comida" />
        <activity android:name=".controladores.Tela_Cadastrar_Bebida" />
        <activity android:name=".controladores.Tela_Alterar_Deletar_Convidado" />
        <activity android:name=".controladores.Tela_Alterar_Comida" />
        <activity android:name=".controladores.Tela_Alterar_Bebida" />
        <activity android:name=".controladores.Tela_Alterar_Convidado" />
        <activity
            android:name=".controladores.Menu_Drawer"
            android:label="@string/title_activity_menu__drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controladores.Tela_Sobre_wztd" />
        <activity android:name=".controladores.Tela_Teste"></activity>
    </application>

</manifest>