<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.myapplication">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ControladorTelaConsulta"
            android:label="Tela de Consulta!"/>
        <activity
            android:name=".ControladorTelaCadastro"
            android:label="Tela de Cadastro! " />
        <activity
            android:name=".ControladorTelaMenu"
            android:label="Tela de Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ControladorTelaLogin"
            android:label="Tela de Login" />
        <activity
            android:name=".ControladorTelaSplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_controlador_tela_splash"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>