<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projetos.mobiletechlawer">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="sugar_tcc.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.projetos.mobiletechlawer" />

        <activity
            android:name=".controladores.ControladorTelaSplash"
            android:label="splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controladores.ControladorTelaLogin" />
        <activity
            android:name=".controladores.navigator.Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controladores.cliente.ControladorConsultaCliente"
            android:label="@string/title_activity_controlador_consulta_cliente"
            android:parentActivityName=".controladores.navigator.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.navigator.Principal" />
        </activity>
        <activity
            android:name=".controladores.cliente.ControladorSelecionadoCliente"
            android:label="@string/title_activity_controlador_selecionado_cliente"
            android:parentActivityName=".controladores.cliente.ControladorConsultaCliente"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.cliente.ControladorConsultaCliente" />
        </activity>
        <activity
            android:name=".controladores.processo.ControladorConsultaProcesso"
            android:label="@string/title_activity_controlador_consulta_processo"
            android:parentActivityName=".controladores.navigator.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.navigator.Principal" />
        </activity>
        <activity
            android:name=".controladores.processo.ControladorSelecionadoProcesso"
            android:label="@string/title_activity_controlador_selecionado_processo"
            android:parentActivityName=".controladores.processo.ControladorConsultaProcesso"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.processo.ControladorConsultaProcesso" />
        </activity>
        <activity
            android:name=".controladores.funcionario.ControladorConsultaFuncionario"
            android:label="@string/title_activity_controlador_consulta_funcionario"
            android:parentActivityName=".controladores.navigator.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.navigator.Principal" />
        </activity>
        <activity
            android:name=".controladores.funcionario.ControladorSelecionadoFuncionario"
            android:label="@string/title_activity_controlador_selecionado_funcionario"
            android:parentActivityName=".controladores.funcionario.ControladorConsultaFuncionario"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.funcionario.ControladorConsultaFuncionario" />
        </activity>
        <activity
            android:name=".controladores.compromissos.ControladorCompromissos"
            android:label="@string/title_activity_controlador_compromissos"
            android:parentActivityName=".controladores.navigator.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.navigator.Principal" />
        </activity>
        <activity
            android:name=".controladores.ControladorTelaSobre"
            android:label="@string/title_activity_controlador_tela_sobre"
            android:parentActivityName=".controladores.navigator.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.navigator.Principal" />
        </activity>
        <activity
            android:name=".controladores.ControladorTelaConta"
            android:label="@string/title_activity_controlador_tela_conta"
            android:parentActivityName=".controladores.navigator.Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projetos.mobiletechlawer.controladores.navigator.Principal" />
        </activity>
    </application>

</manifest>